

<div class="usuario">
    {{#if usuarios.length}}
            <p>{{ usuario }} !</p>
    {{/if}}
</div>




<style>
    .usuario {
        display: flex ;
        align-items: center;
        justify-content: center;
    }
</style>
