
<div id="redireccionLogout">
    <h2> PAGINA INICIO </h2>
    <div class="usuario">
        <h3 class="alert alert-info" role="alert">¡Bienvenido     
            {{#if usuario.length}}
                {{ usuario }} 
            {{/if}}! , ¡Esperamos que disfrutes de tu estadía en nuestra pagina!</h3>
        <button class="btn btn-danger" onclick="location.href='/api/sesiones/logout'">Cerrar Sesion</button>
    </div>
</div>
