
<div>
    <h2> INICIAR SESION </h2>
    <div class="alert alert-success" role="alert">
        <form id="formularioLogin" action="/login" method="post">
            <input type="text" name="usuario" placeholder="Ingrese su nombre/usuario" required>
            <br>
            <button class="btn btn-primary" type="submit">Ingresar</button>
        </form>
    </div>
</div>


{{!-- <input type="text" name="password" placeholder="Ingrese su contraseña" required> --}}